@import "settings";
@import "foundation";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import "colors";
@import "bill";

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** --- Foundation Overrides --- */

html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

table {
  border-spacing: 0;
  thead {
    tr {
      th {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

pre {
  font-family: 'Inconsolata', monospace;
}

.light-background {
  background: #fafafa;
}

ul.pagination {
  margin-bottom:0;
}

/** --- Layout --- */

#wrapper {
  min-height: 100%;
  position: relative;
  #content {
    padding: 10px 10px 110px 10px;
    min-height: 105vh;
    height: 100%;
  }
  #footer {
    height: 100px;
    position:absolute;
    bottom:0;
    left:0;
    background:#2e2e2e;
    color: white;
    width: 100%   ;
  }
}

/** --- Common --- */

.text-xsmall {
  font-size: 0.7rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.1rem;
}

.bold {
  font-weight: 600;
}

.vertical-align {
  display: table; height: 70px; overflow: hidden;
  span, div {
    display: table-cell; vertical-align: middle;
  }
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.padding-20 {
  padding: 20px;
}

.relative {
  position: relative;
}

.bold-span-1 {
  font-size: .9em;
  font-weight: 600;
}

.no-padding {
  padding: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

a.gray-2-blue {
  color: $gray10;
  @include transition(all .2s linear);
  &:hover {
    color: $blue2;
  }
}

a.white-2-blue {
  color: white;
  @include transition(all .2s linear);
  &:hover {
    background: transparentize(#fff, 0.9);
  }
}

.panel {
  &.minimal {
    border-style: none;
    padding: 10px;
  }
  &.less-padding {
    padding: 10px !important;
  }
  &.white {
    background: white;
  }

  .panel-label {
    color: $gray10;
    padding:10px;
    background:$gray3;
    font-weight: 600;
    &:hover {
      background:#ddd;
    }
  }
}

.no-height {
  height: 0;
}

/** --- Header --- */

.top-bar-wrapper {
  background: #fafafa;
  box-shadow: 0px -15px 40px #999;
}

.top-bar {
  .nyss-seal {
    height: 42px;
    position: relative;
    top: -3px;
  }
  .name h1 a {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
  }
}

@media #{$small-up} {
  .top-bar {
    padding: 15px 0;
    height: 75px;
    .name h1 a {
      width: 100%;
    }
  }
}

@media #{$large-up} {
  .top-bar {
    width: 56.534em;
    margin: auto;
    .name {
      margin: 0 1.5em 0 0;
      h1 a {
        width: auto;
      }
    }
    .top-bar-section ul {
      li {
        a {
          font-size: 0.8rem;
        }
        &:not(.active) {
          a {
            color: $gray7;
          }
          border-bottom: 2px solid #f1f1f1;
        }
        &.active:not(.has-form) a:not(.button) {
          border-bottom: 2px solid #008cba;
        }
      }
    }
  }
}

.mobile-menu-toggle {
  font-size: 1.8rem;
  margin: 0 1rem;
  line-height: 45px !important;
}

.mobile-menu-list {
  background: #ddd;
  li {
    font-size: 1rem;
  }
}

/** --- Result Listings --- */

.content-row {
  background: #fafafa;
  padding: 10px;
}


/** --- Magellan Nav --- */

[data-magellan-expedition], [data-magellan-expedition-clone] {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  .def {
    font-weight: bold;
    text-transform: none;
    a {
      color: #333;
    }
  }
}

.sub-nav dd.active a {
  border-radius: 0;
}

/** --- Custom --- */

.content-column {
  padding-left: 35px;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.minopacity {
  opacity: .1;
}

fieldset {
  &.no-margin {
    margin: 0;
  }
  border: 1px solid #f1f1f1;
  padding: .7rem;
}

.text-block {
  padding: 0 1rem 0 .1rem
}

label.block-label {
  font-size: .8rem;
  margin-bottom: 10px;
  cursor: none;
}

/** --- Styles for Report page --- */

#daybreakSummaryTable {
  table-layout: auto;
  border: 1px solid #ccc;
  th {
    text-align: center;
  }
  .th-section {
    border-width: 1px;
    border-color: #ccc;
    border-style: none none none solid;
    text-align: center;
    background: #ededed;
  }
  .delta-column {
    padding: 0 5px 0 0;
    border-right: 1px solid #ccc;
    font-size: .7em;
  }
}

.blue-title-icon {
  color: #006b80;
  margin-right: 20px;
}

#noDataAvailable {
  h3 {
    text-align: center;
    color: #aaa;
  }
}

.prefix-icon {
  margin-right: 5px;
}

.prefix-icon2 {
  margin-right: 10px;
}

.postfix-icon {
  margin-left: 5px;
}

.new-error {
  color:red;
}

.closed-error {
  color:green;
}

.existing-error {
  color:#aaa;
}

/** --- Styles for Report Error Page --- */

button.check-button {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  margin-bottom: 0;
  font-weight: bold;

  &.disabled {
    border-bottom: 3px solid #ccc;
    background-color: #fafafa;
    color: #777;

    &:hover, &:focus {
      background-color: #fafafa;
      color: #111;
    }
  }
  outline: none;

  &.success {
    background-color: #fafafa;
    color: #111;
    border-bottom: 3px solid #008cba;

    &:hover, &:focus {
      background-color: #fafafa;
      border-bottom: 3px solid #008cba;
      color: #111;
    }
  }
}

.report-table-snippet {
  height:20px;
  overflow:hidden;
}

#report-detail-container {
  padding: 10px !important;
}

// -- Table Column headers --

// Bill Id
#report-detail-table thead th:first-child {
  width: 6em;
}

// Mismatch Type
#report-detail-table thead th:nth-child(2) {
  width: 10em;
}

// Status
#report-detail-table thead th:nth-child(3) {
  width: 6em;
}

// Opened At
#report-detail-table thead th:nth-child(4) {
  width: 12em;
}

// Snippet
#report-detail-table thead th:nth-child(5) {
  width: 35em;
}

// Details
#report-detail-table thead th:nth-child(6) {
  width: 5em;
}

#report-detail-table tbody tr td {
  border: 1px solid #eee;
}

.current-page {
  color: #006b80;
}

.mismatch-diff-equal {

}

.mismatch-diff-insert {
  color: green;
}

.mismatch-diff-delete {
  color: red;
}

#pagination-button-group {
  float: right;
}

.margin-top-5 {
  margin-top: 5px;
}

.stats-block-container {
  margin-bottom: 10px;
}

.stats-block-title {
  font-weight: 600;
  text-align: center;
  padding: 5px;
  background: $gray3;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.stats-block-number {
  font-weight: 600;
  font-size: 1.5rem;
  background: $gray1;
  display: block;
  padding: 5px;
}

/** --- Calendar View --- */

#calendar-view-body {
  max-width: 50rem;
  margin: auto;
}

#calendar-date-picker {
  max-width: 30rem;
  margin: auto;
}

.calendar-date-picker-accordion a {
  text-align: center;
  margin: auto;
}

// Base Calendar Accordion
.accordion dd.calendar-accordion>a {
  @extend .blue1;
  font-weight: 600;
  border: 1px solid #d8d8d8;
}

// Open Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-open>a {
  background: #165B81;
  color: #FFF;
}

// Open Calendar Accordion hovered
.accordion dd.calendar-accordion.calendar-accordion-open>a:hover {
  background: #004D71;
}

// Nested Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-nested>a {
  background: #D8D8D8;
  border-color: #C2C2C2;
}

// Nested Calendar Accordion Hovered
.accordion dd.calendar-accordion.calendar-accordion-nested>a:hover {
  background: #C2C2C2;
}

// Nested Open Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-nested.calendar-accordion-open>a {
  background: #2B6A90;
}

// Nested Open Calendar Accordion Hovered
.accordion dd.calendar-accordion.calendar-accordion-nested.calendar-accordion-open>a:hover {
  background: #004D71;
}

// Nested Calendar Accordion Padding
.accordion .calendar-accordion>.content {
  padding: 0%;
}

.calendar-release-date {
  text-align: right;
}

.cal-entry-print-no {

}

.cal-entry-sponsor-img {
  background: 50% 50% no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cal-entry-cal-no {
  min-width: 5.5rem;
}

/** --- Calendar Picker Styling --- */

#calendar-date-picker .fc-button-today .fc-button-prev .fc-button-next {
  @extend .button;
}

#calendar-date-picker div.fc-day-content>div {
  height: 25px !important;
}