@import "compass";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

@import "colors";

/** --- Reset --- */

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

table {
  border-spacing: 0;
  thead {
    tr {
      th {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

pre {
  font-family: 'Inconsolata', monospace;
}

select {
  background: white;
  border-color: #ddd;
  padding: 2px;
}

/** --- Angular Material --- */

md-toolbar {
  min-height: 70px;
  &.auto-height {
    min-height: 0;
    height: auto;
    max-height: none;
  }
  &.md-info-tools {
    min-height: 0;
    width: auto;
    padding: 10px;
  }
}

.md-whiteframe-z0 {
  @include box-shadow(0 2px 5px 0 rgba(0,0,0,.10));
}

md-card {
  &.content-card {
    @extend .md-whiteframe-z0;
    @extend .white-bg;
    @extend .padding-10;
    md-content {
      margin-left: 16px;
    }
  }
}

/** --- Hacks --- */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** --- Layout --- */

#content-wrapper {
  #content-header {
  }
  #content {
    #content-pad {
      padding: 10px;
    }
  }
}

/** --- Common --- */

.text-xsmall {
  font-size: 0.7rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.1rem;
}

.bold {
  font-weight: 600 !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-20 {
  margin-right: 20px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}

a.gray-2-blue {
  color: $gray10;
  @include transition(all .2s linear);
  &:hover {
    color: $blue2;
  }
}

a.white-2-blue {
  color: white;
  @include transition(all .2s linear);
  &:hover {
    background: transparentize(#fff, 0.9);
  }
}

.no-height {
  height: 0;
}

.light-background {
  background: #fafafa;
}

a.result-link {
  text-decoration: none;
  color: #555;
  &:hover {
    color: $blue5;
    background: $gray3;
    md-item-content {
      @extend .md-whiteframe-z0;
    }
  }
}

/** --- Left Nav --- */

$left-nav-width: 305px;

#left-nav {
  min-height: 100vh;
  width: $left-nav-width;
  min-width: $left-nav-width;
  position: fixed;
  background: #384047;
  @include box-shadow(-4px 0 16px #333);
  @media print {
    display: none;
  }
}

#left-nav-spacer {
  width: $left-nav-width;
}

#logo-wrapper {
  background: #fafafa;
}

#logo {
  padding-left:10px;
  line-height: 64px;
  margin:0;
  font-size: 1.4rem;
  a {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 1.4rem;
    text-decoration: none;
  }
  img {
    top: 14px;
    height: 45px;
    position: relative;
  }
}

.left-nav-menu {
  width:100%;
  padding-top:20px;
}

// Menu styles adapted from angular-material docs

.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #eee;
  font-size: 0.8rem;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 35px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  @include transition(0.45s cubic-bezier(0.35, 0, 0.25, 1));
  @include transition-property(max-height, background-color, opacity);
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item:focus {
  font-weight: bold;
}
.menu-item.menu-title {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
  text-align: left;
  text-transform: uppercase;
  @include transition(color 0.35s cubic-bezier(0.35, 0, 0.25, 1));
}
.menu-item.menu-title:hover,
.menu-item.menu-title:focus,
.menu-item.active, {
  color: white;
  background: #596671;
  font-weight: bold;
}

.menu-item:hover {
  background: #596671;
}

.top-bar-heading {
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
  .menu-icon {
    background: none;
    border: 1px solid #ddd;
    padding: 5px;
    margin-right: 25px;
    cursor: pointer;
    min-width: 35px;
    font-size: 1.4rem;
    @media print {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    font-size: 1.0rem;
  }
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    font-size: 1.2rem;
  }
  @media only screen and (min-width: 1201px) {
    font-size: 1.4rem;
  }
}

/** --- Landing Page Styles --- */

h1.slogan {
  font-size:2.8rem;
  padding:20px;
  color:#555;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

a.slogan-link {
  color:$blue5;
  text-decoration: none;
  border-bottom:2px solid $blue5;
}

.provide-data-container {
  padding: 5px;
  cursor: pointer;
  &:hover {
    background: $gray2;
  }
}

.provide-data-icon {
  text-align:center;
  height:60px;
  width:60px;
  border:2px solid #999;
  i {
    font-size: 2rem;
    line-height:56px;
  }
}

/** --- Bill Page Styles --- */

.bill-full-text {
  white-space: pre;
  font-family: 'Inconsolata', monospace;
  @media only screen and (max-width: 480px) {
    font-size: 0.4rem;
  }
  @media only screen and (min-width: 481px) and (max-width: 600px) {
    font-size: 0.6rem;
  }
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 1201px) {
    font-size: 1.1rem;
  }
}

.bill-memo-heading {
  font-weight: 400;
  display: block;
  margin: 20px 0;
  color: rgba(0,0,0,0.54);
  white-space: pre-line;
}

.bill-votes-table {
  font-size: 0.9rem;
  width: 100%;
  padding: 20px;
  tr {
    &.positive {
      background: #F1F8E9;
    }
    &.negative {
      background: #FFEBEE;
    }
    th {
      text-align: left;
    }
    td {
      padding: 5px 10px 5px 5px;
    }
  }
}

.bill-updates-table {
  font-size: 0.8rem;
  width: 100%;
  padding: 20px;
  tr {
    th {
      text-align: left;
    }
    td {
      &:nth-child(1) {
        border-right: 1px solid #ddd;
      }
      &:nth-child(2) {
        padding-left: 10px;
      }
      border-bottom: 1px solid #ddd;
    }
  }
}

/** --- Styles for Report page --- */

#daybreak-summary-table {
  table-layout: auto;
  border: 1px solid #ccc;
  th {
    text-align: center;
  }
  .th-section {
    border: 1px none #ccc;
    border-left-style: solid;
    text-align: center;
    background: #ededed;
  }
  .delta-column {
    padding: 0 5px 0 0;
    border-right: 1px solid #ccc;
    font-size: .7em;
  }
}

.blue-title-icon {
  color: #006b80;
  margin-right: 20px;
}

#noDataAvailable {
  h3 {
    text-align: center;
    color: #aaa;
  }
}

.prefix-icon {
  margin-right: 5px;
}

.prefix-icon2 {
  margin-right: 10px;
}

.postfix-icon {
  margin-left: 5px;
}

.new-error {
  color:red;
}

.closed-error {
  color:green;
}

.existing-error {
  color:#aaa;
}

/** --- Styles for Report Error Page --- */

.st-sort-ascent:before {
  content: '\25B2';
}
.st-sort-descent:before {
  content: '\25BC';
}

.report-table-snippet {
  height:20px;
  overflow:hidden;
}

#report-detail-container {
  padding: 10px !important;
}

table.report-detail-table tbody tr:nth-child(odd) {
  background-color: #ccc;
}

.report-detail-table .rpp-selector {
  float: right;
}

#daybreak-page button.ng-scope,
#daybreak-page .check-butt {
  margin-right: 4px;
}

// -- Table Column headers --

// Bill Id
table.report-detail-table thead tr th:first-child {
  width: 6em;
}

// Mismatch Type
table.report-detail-table thead tr th:nth-child(2) {
  width: 10em;
}

// Status
table.report-detail-table thead tr th:nth-child(3) {
  width: 6em;
}

// Opened At
table.report-detail-table thead tr th:nth-child(4) {
  width: 14em;
}

// Snippet
table.report-detail-table thead tr th:nth-child(5) {
  width: 35em;
}

// Details
table.report-detail-table thead tr th:nth-child(6) {
  width: 5em;
}

table.report-detail-table tbody tr td {
  border: 1px solid #eee;
}

.current-page {
  color: #006b80;
}

.mismatch-diff-equal {

}

.mismatch-diff-insert {
  color: green;
}

.mismatch-diff-delete {
  color: red;
}

#pagination-button-group {
  float: right;
}

.mismatch-dialog {
  width: 46em;
  height: 25em;
}

.mismatch-dialog-tabs md-content {
  max-height: 13em;
}

.margin-top-5 {
  margin-top: 5px;
}

.stats-block-container {
  margin-bottom: 10px;
}

.stats-block-title {
  font-weight: 600;
  text-align: center;
  padding: 5px;
  background: $gray3;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
}

.stats-block-number {
  font-weight: 600;
  font-size: 1.5rem;
  background: $gray1;
  display: block;
  padding: 5px;
}

/** --- Calendar View --- */

#calendar-view-body {
  max-width: 50rem;
  margin: auto;
}

#calendar-date-picker {
  max-width: 30rem;
  margin: auto;
}

.calendar-date-picker-accordion a {
  text-align: center;
  margin: auto;
}

// Base Calendar Accordion
.accordion dd.calendar-accordion>a {
  @extend .blue1;
  font-weight: 600;
  border: 1px solid #d8d8d8;
}

// Open Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-open>a {
  background: #165B81;
  color: #FFF;
}

// Open Calendar Accordion hovered
.accordion dd.calendar-accordion.calendar-accordion-open>a:hover {
  background: #004D71;
}

// Nested Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-nested>a {
  background: #D8D8D8;
  border-color: #C2C2C2;
}

// Nested Calendar Accordion Hovered
.accordion dd.calendar-accordion.calendar-accordion-nested>a:hover {
  background: #C2C2C2;
}

// Nested Open Calendar Accordion
.accordion dd.calendar-accordion.calendar-accordion-nested.calendar-accordion-open>a {
  background: #2B6A90;
}

// Nested Open Calendar Accordion Hovered
.accordion dd.calendar-accordion.calendar-accordion-nested.calendar-accordion-open>a:hover {
  background: #004D71;
}

// Nested Calendar Accordion Padding
.accordion .calendar-accordion>.content {
  padding: 0%;
}

.calendar-release-date {
  text-align: right;
}

.cal-entry-print-no {

}

.cal-entry-sponsor-img {
  background: 50% 50% no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cal-entry-cal-no {
  min-width: 5.5rem;
}

/** --- Calendar Picker Styling --- */

#calendar-date-picker .fc-button-today .fc-button-prev .fc-button-next {
//  @extend .button;
}

#calendar-date-picker div.fc-day-content>div {
  height: 25px !important;
}