<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true">
    <Appenders>
        <Appender type="Console" name="stdout" target="SYSTEM_OUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %t %c{2}:%L - %m%n"/>
        </Appender>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="warn"/>
        <Logger name="org.springframework.jdbc" level="warn"/>
        <Logger name="com.mchange.v2" level="warn"/>
        <Logger name="logger.net.sf.ehcache" level="warn"/>
        <Logger name="org.elasticsearch.client.RestHighLevelClient" level="warn"/>
        <Root level="trace">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
