body {
  font-family: helvetica, arial;
  font-size: 89.5%;	 /* 10px */
  color: #333;
  background-color: #fff;
  margin:16px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYGX2QAQ7AIAgDy37h/x+3ZzCLSjrdMNFAuZRGAGjujuqSCaCC1yydlqDOqiVI4DXYItkECMUxs8ai6/dQxntpU9a/mbbVmbG7Hd+kWoAq6IaZPwwY63D6gh8ZdcfRb8h2YgAAAABJRU5ErkJggg==);
}

#container { 
	width:900px;
	margin: 0px auto;
	background:white;
	border: 1px solid #808080;
	border-radius:4px;
	-moz-border-radius: 4px;
}

#container h2 {
	margin-left: 100px;	
}

.bills_container  {
	border: 1px solid #808080;
	border-radius:4px;
	-moz-border-radius: 4px;
	width:620px;
	margin: 0px auto;
	margin-top: 3px;
	margin-bottom: 2px;
}

.bills_container h3 {
	margin-left: 8px;	
}

ul {
	list-style-type: none;
}

#shield {
	width: 100%;
	height: 100%;
	z-index:1;
}

#loading {
	width:220px;
	height:19px;
	margin-top:200px;
	z-index:2;
	position:absolute;
	background-image:url('/legislation/img/r.gif');
	background-repeat:no-repeat;
	background-position:center center;
	border-radius:4px;
	-moz-border-radius: 4px;
	border: 1px solid black;
}

ul.bill_grouping {
	margin: 0px auto;
	margin-top: 5px;
	width: 600px;
	margin-left: -30px;
	margin-bottom:3px;
}

li.bill {
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 2px 0px 0px 0px;
	margin: 1px 0px 1px 0px;
	background-color:#ffeedd;
	border: 1px solid #808080;
}
span.bill_id {
	margin: 0px 5px 0px 1px;
	padding: 0px 2px 0px 2px;
}

span.bill_modified {
	font-style:italic;
	font-size:90%;
}

span.bill_problems {
	float:right;
	margin-top: -1px;
	margin-right:1px;
	padding: 0px 2px 0px 2px;
}

span.boom {
	padding-right:300px;	
}

.bill_field {
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #808080;
	background:#FFFFCC;
	color:#005588;
}

.bill_top_container {
	margin-bottom:2px;	
}

.bill_bottom_container {
	border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #808080;
	height: 40px;
	margin: 2px 1px 1px 1px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYGWNMrLzlw0AEYAGpmdemuoWQWiZCCmDyowphIYGVBgAUmQQTYhJplwAAAABJRU5ErkJggg==);
	background-color:white;
}

.bill_links {
	float:left;
	width: 20%;
}

.bill_links ul {
	margin-left:-38px;
}

.bill_links li {
	margin-top:3px;		
}

.bill_links a {
	border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 3px 1px 3px;
	background-color: blue;
	color:white;
	text-decoration:none;
}

.bill_data {
	border-radius: 2px;
	-moz-border-radius: 2px;
	background:white;
	border: 1px solid #808080;
	float:left;
	width: 78%;
	margin: 2px 0px 1px 5px;
	min-height: 35px;
}

.bill_data ul {
	margin-left: -38px;	
	margin-top:2px;
}

.bill_data li {
	font-size:90%;
	display: inline;
}

.bill_data li:after {
	content: ", ";
}

.bill_data li:last-child:after {
	content: "";
}

.bill_data span {
	padding: 0px 2px 0px 2px;
}

.bill_button {
	
}

.disactivated {
	opacity: .5;
}
