<section style="padding:0 10px 10px 10px">
    <div class="row collapsed">
        <div class="columns small-12">
            <h3 style="text-align: center;color: #777;font-size: 1.6rem;">Search for Bills and Resolutions</h3>
        </div>
    </div>
    <div class="row collapsed content-row" style="background: #008cba;">
        <form>
            <div class="columns small-1" style="text-align: center;">
                <span class="icon-search" style="font-size:1.7rem;color:white;line-height: 35px;"></span>
            </div>
            <div class="columns small-9">
                <input style="box-shadow: none;
border: none;
background: #008cba;
color: white;
margin: 0;
font-size: 1.3rem;
border-bottom: 1px solid rgb(180, 204, 235);"  ng-model="searchTerm" ng-model-options="{debounce: {default: 500}}" type="text"/>
            </div>
            <div class="columns small-2">
                <a>Advanced</a>
            </div>
        </form>
    </div>

    <div class="row content-row" style="background:#005C7A;color:white;margin-bottom:20px;">
        <span><strong>{{billResults.total}}</strong> search results for "{{searchTerm | limitTo:50}}"</span>
    </div>

    <div class="row content-row" ng-repeat="item in billResults.result.items" style="margin-bottom:5px;border-bottom:1px solid #ddd;">
        <div class="row">
            <div class="columns small-3">
                <span style="font-size:1.3rem;">{{item.result.printNo}}-{{item.result.session}}</span>
            </div>
            <div class="columns small-9">
                <span style="font-size:.9rem">{{item.result.title}}</span>
            </div>
        </div>
        <div class="row">
            <div class="columns small-3">
                <span style="">{{item.result.sponsor.member.fullName}}</span>
            </div>
            <div class="columns small-9">
                <label class="label" style="font-size:.9rem">{{item.result.status.statusDesc}}</label>
                <label class="label secondary" style="font-size:.9rem">{{item.result.committee.name}}</label>
            </div>
        </div>
    </div>

    <div class="row content-row">
        <pagination total-items="totalResults" items-per-page="limit" page="page" max-size="10" class="right pagination-sm"
                    boundary-links="true" rotate="false"></pagination>
    </div>
</section>

