body {
  background-color: #FFFFFF;
  background-repeat: ;
  color: #000;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.8em;
  line-height: 1.45em;
  margin: 0;
}
#content {
  float: none;
  margin: 0;
}
pre, #footer {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.8em;
  line-height: 1.45em;
  white-space: pre-wrap;
  width: 530px;
  color: #000;
  font-weight: normal;
}
.page-break{
  display: none;
  page-break-before: always;
}
.main-menu,
.item-actions,
.searchbox,
.footer-part-third,
.footer-part-second,
.footer-part-first,
.pagination,
.sortby,
.formats,
#comments {
  display: none;
}
a {
  color: #000000;
  text-decoration: none;
}
.section, .footer-part-fourth {
  border-top: 1px solid #AAAAAA;
  padding: 10px 0 0;
}
.row {
  border-bottom: 1px solid #AAAAAA;
  padding: 10px 0;
}
.row a {
  border-bottom: 1px solid #CCCCCC;
}
.row span,
.row span a {
  border: medium none;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
}
.billHeader {
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style: circle;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}
ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.vote-block,
blockquote {
  margin: 0;
  padding: 0;
}
