
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body {
  font-family: helvetica, arial;
  font-size: 89.5%;	 /* 10px */
  line-height: 1.4em; /* 15px */
  color: #333;
  background-color: #fff;
  background-image:url("../img/nyss_bg.png");
  background-repeat: repeat-x;
  margin:16px;
  margin-top:1px;
  min-width:220px
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  color: #444;
}

h2 a, h3 a
{
color:#333;	
}

h2 small
{	
	font-size:10pt;
	font-weight:normal;
	color:#555555;
}

h1
{
	margin-bottom:8px;
	margin-top:8px;
	
}


p,ul,ol,dl,dd {
  margin: 0 0 1em 0;
}

h1 {
  font-size: 1.6em;
  line-height: 1.083em; /* 26px */
}

h2 {
	
	  color:#005588;
	
  font-size: 1.6em;
  line-height: 1.133em; /* 17px */

  margin-left:0px;
  /*
   margin-top:8px;	
  margin-bottom:4px;
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight:normal;
  color:#005588;*/
  
}
h2.homeText {
  background:none;
  margin-top:8px;	
  margin-bottom:4px;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight:normal;
  color:#005588;
}

b
{
	  color:#666;
}

h3 {
  font-size: 1.3em;
	  color:#666;
  line-height: 1.133em; /* 17px */
  padding-bottom:2px;
  margin-left:0px;
  margin-bottom:1px;
  margin-top:12px;
  border-bottom:1px solid #aaa;
}

h4 {
  font-size: 1.1em;
}

h5, h6	{
  font-size: 1.1em;
  line-height: 1.25em; /* 15px */
}

h6 {
  font-weight: normal;
}

p,li,dt,dd {
  font-size: 1.0em;
}

div
{
margin-bottom:8px;	
}

ul li *,
li li {
}

blockquote {
  margin: 0 24px;
}

ul {
  padding-left: 15px;
}

ol {
  padding-left: 0;
  margin-left: 18px;
}

ul li {
}

ul.multiline li {
  margin-bottom: 1em;
}



dt {
  float: left; 
}

a {
  /*color: #004276;*/
  color:#003366;
}

a:visited {
  color: #006699;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

a.sublink, a.sublink:visited, a.sublink:link
{
	text-decoration:none;	
	color:#005577;
}

a.sublink:hover
{
	text-decoration: underline;	
}

.image a {
  display: block;
}

/* forms */

form  {
  margin: 0;
  padding: 0;
}  

label {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-family: arial, helvetica, sans-serif;
  color: #000;
}

input,
textarea,
select {
  font-size: 1.1em;
  color: #000;
}

input {
  vertical-align: middle;
}


.homelogo{
	float:left;
	width:500px;
	padding:25px 40px;
}
.hometext{
	float:left;
	width:500px;
	margin:0px 0 10px 137px;
}
#logobox{
	float:left;
	margin:0px;
	padding:0px;
	width:134px;
	height:42px;
	padding-top:3px;
}
.searchbox{
	width:684px;
	height:45px;	
	float:left;	
	padding:12px 0 0 20px;
}
hr
{
color: #ccc;
background-color: #ccc;
height: 1px;
border:0px;
outline:0px;
}

.amended
{
	background-color:#ffffcc;
	color:#555;
	padding:3px 10px;
	font-size:130%;
	border:1px solid #aaaaaa;
	text-align:center;
	float:right;
}

#content{
	width:880px;
	margin:0 auto;
}

.content-bg{
	background:#fff;
	border:1px solid #ccc;
	padding: 10px;
	float:left;
	width:100%;
	
}
#subcontent{
	float:left;
	margin-bottom:0px;
	width:100%;
}

#menu{
	padding: 2px 0px 10px;
	color:#fff;
}
#menu a{
	color:#fff;
	text-decoration:none;
}
.searbar{
	padding: 20px 0 0 0;
}
#menu .searbar a,#menu .searbar{
	color:#333;
}
.title-block{
	float:left;
	width:100%;
}
.page-title{
	border-bottom:1px solid #9ac7e2;
	float:left;
	margin:-10px 0 0 -10px;
	background:#d4e0e8;	
	color: #005588;
	
}
.item-title{
	float:left;
	margin: 20px 0 10px 10px;
	padding: 0px 0 20px 05px;
	width:675px;
	float:left;
	font-weight:normal;
	border-bottom:1px solid #e1e1e1;
	display:block;
	
}

.summary{
 	 padding:5px 0 0px 15px;
	 color:#7F7E73;
	 width:550px;
	 float:left;
}
 .summary p{
 	margin:0;
 }

.item-meta{
	float:left;
	padding: 0 0 5px;
	width:100%;
}
.metabox{
	display:block;
	float:left;
	clear:both;
}
.section-list {
    padding: 0 0 0 10px;
    clear:both;
}
.votes {
 	padding: 0 0 0 20px;
 	clear:both;
}

.vote-block {
	padding: 10px 0px;
}

.item-actions{
	width:180px;
	float:right;
	margin-top:15px;
}
.item-actions a{
	font-size:12px;
}
#comments{
	float:left;
}
.comment_terms{
	padding: 10px;
	border-top:1px solid #ccc;
	background-color:#ffffcc;
	font-weight:bold;
}
#footer{
	font-size:9px;
	color:#888;
	border-top:1px solid #ccc;
	padding: 10px;
	float:left;
	width:100%;
}

#footer img
{
float:left;
margin:3px;
}
#footer ul, #footer ul li{
	margin:0;
	padding:0;
	list-style:none;
}

 
.footer-part{
	margin:10px 0 0 0;
	width:24%;
	float:left;
/* 	border:1px solid red; */
	padding:1px;
}
.footer-part li{ 
	font-size:12px;
	margin:10px 0 0 0;
	padding:10px;
	color:#333;
}
#footer .linkActivated{
	font-weight:bold;
	color:#003366;
}

.footer-part li.head{
	color:#000;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	padding-bottom:5px !important;
	margin-bottom:5px !important;
	width:90%;	
} 
.footer-part p{ 
	font-size: 11px;
}

.billmeta{
	margin: 4px 0;
	float:left;
}
 
.billmeta ul li{
	padding: 4px 5px;
	float: left;
}
.billmeta ul li:hover{
	background:#F1F1F1;
}
.billmeta ul li .meta{
	width:140px;
	float:left;
 	color:#4F4E43;
}

.billmeta ul li .metadata{
	width:700px;
	display:block;
	float:left;
}

.emptytitle .billmeta{
	width:690px;
	margin:10px 0 0 0;
}
.emptytitle .billmeta ul li .metadata{
	width:500px;
}
/* NYSS bill text header  */

.section{
	border-bottom:1px solid #e1e1e1;
	border-top:1px solid #CCCCCC;
	float:left;
	width:100%;
	padding:10px 0;
	margin:5px 0 10px;
	background:#F1F1F1;
}

.meeting-notes {
    font:inherit;
    margin-bottom:5px;
}

.calendar-section {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #E1E1E1;
    border-top: 1px solid #CCCCCC;
    float: left;
    margin: 5px 0px 8px 10px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.calendar-section:hover {
	background-color: #F1F1F1;
}
}

.calendar-bills {
	margin-left:20px;
}

.calendar-high {
	font-size:.85em;
	font-weight:bold;
	color:green;
}

.formats{
	float:right;
	padding-right:3px;
}
.search-nav{
	float:left;
	width:100%;
	border-bottom:1px solid #ccc;
	padding:10px 0 ;
	margin:0 0 10px 0; 
}
.result-totals{
	float:left;
	width:100%;
	display:block;
}
.pagination{
	float:left;
	width:425px;
	display:inline;
}
.footer-pagination{
	float:left;
	width:400px;
	display:inline;
	padding: 15px 0 0;
	margin:0;
}
.footer-pagination div{
	margin:0;
}

.pagination ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.pagination ul > li {
    display: inline;
}
.pagination li{
	border:1px solid #BFBFBF;
	margin:0;
	text-decoration:none;
	list-style:none;
	
}
.pagination li:hover{
	background:#e6e6e6;
}

.pagination li.disabled, .pagination li.disabled:hover{ 
	border:1px solid #F7F7F9;
	background:none;
 }
 
 
 .pagination li.disabled a{ 
 	color:#9DA0A4;
 }
.pagination li.active{ 
	border:1px solid #9DA0A4;
	background:#F5F5F5;
}
 .pagination li.active a{ 
 	color:#003366;
 }
.pagination li a{
	text-decoration:none;
	color:#666;
	padding:2px 7px;
}
.row{
	padding:3px;
	padding-top:12px;
	border-bottom:1px dashed #ccc;
	margin:0px;
	float:left;
	width:100%;
}
.row:hover{
	background-color:#FFFFCC;
}
.row p{
font-size:10pt;
}
.row .subrow a{
	font-size:90%;color:#777777;
	text-decoration:none;

}
.row .subrow.indent{
	margin-left:20px;
	float: left;
}
.row .meta{
	font-size:90%;
	color:#777777;
}
.row .meta span{
 display:block;	
}
.row li
{
margin-left:10px;
border-bottom:1px solid #ccc;
margin-bottom:3px;
}

#txtSearchBox
{
width:250px;
font-size:12pt;
}

.highlight { background-color: yellow } 

.linkActivated, .linkActivated:visited
{
font-weight:bold;
color:#333333;
text-decoration:none;
}

#quickresult{
text-align:left;
margin: 0 0 0 0px;
width:400px;
z-index:11;
background:#fff;
color:#777;
line-height:14px;
font-size:10pt;
overflow:hidden;
display:none;
background:none;
position:absolute;
}
.searchResults{
	background:url('../img/transparent.png');
	width:96%;
	padding:10px 2% 10px 2% ;
	float:left;
	position:relative;
}

.quickresult-header{
position:relative;
}
.searchResults li em{
	width:100%;
	float:left;
	background:#dedede;
    height:18px;
    color:#000;
}
.searchResults li{
list-style-type:none;
margin:0px;
border-top:1px solid #ccc;
background:#fff;
}
.searchCarrot{
	float:left;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	
	border-bottom: 7px solid #8b8a89;
}
 
.anchor-link {
	color: #777777;
}


.quickresult_box{
margin-top:0px;
padding:4px; 
font-size:12px; 
}
#quickresult li.quickresult_box:hover{
background:#FFFFCC;
color:#FFFFFF;
}

.pagebreak{
	display: none;
}

pre {
	padding: 10px 10px 10px 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	display: block; 
	white-space: pre-wrap;  
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
	overflow-x: auto;
	font-family: “Consolas”, monospace;
	width: 100%;
	font-size: 9pt;
}

pre hr {
	background-color:#999999;
	border-width:0;
	color:#cccccc;
	height:2px;
	line-height:0;
	margin:1.4em 0 1.5em -5px;
 	text-align:center;
	width:520px;
}

 

pre.memo {
	padding: 10px 10px 10px 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
	display: block; 
	white-space: pre-wrap;  
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap; 
	white-space: -o-pre-wrap; 
	word-wrap: break-word; 
	overflow-x: auto;
	font-family: “Consolas”, monospace;
	width: 540px;
	font-size: 9pt;
	float:left;
}

del{
	color:red;
	background-color:#ffeeee;
	text-decoration:none;
	background-url:#ffeeee;
}

add{
	color:#006600;
	background:#daffd8;
	tex-transform:lowercase;
}
.hidden{
	display:none;
}
.centered{
	text-align:center;
}
.centered add{
	background:none;
	color:#333;
}
/* .shortline{
	white-space : pre-wrap;
	padding:0;
	margin:0;
} */
.main-menu ul li, .main-menu ul{
	list-style:none;
	display:inline;
	padding:0;
	margin:0;
}
.main-menu ul li a{
	padding:0 4px;
}
.anchor {
	float:left;
	opacity:0.0;
	color:inherit;
    text-style:inherit;
	margin:0px 2px 0 4px;
}

.anchor:hover {

	opacity:1;
}

@media (min-width:220px) { 
	/* smartphones, iPhone, portrait 480x320 phones */
	body{
		margin:1px 0 16px 0;
		padding:0;
	}
	.hidemobile{
		display:none;
		height:0;
	}
	#content{
		width:94%;
		margin:0;
		float:left;
	}
	.page-title{
		width:100%;
		padding:10px 10px 10px 20px;	
	}
	.item-title {
		width:100%;
	}

	.searchbox{
		width:100%;
		padding: 3px 0 0 10px;
		height:auto;
	}
	
	#logobox{
		padding: 3px 0 0 10px;
	}
	.formats{
		display:none;
	}
	.sortby{
		float:left;
		padding: 5px 0 0 0;
	}
	#content-full{
		width:100%;
		margin:0 auto;
		float:none;
	}
	.main-menu{
		background:#005588;
	}
	.summary{
		width:100%
	}
	.item-actions{
		float:left;
	}
	.billmeta ul li .meta,.billmeta ul li .metadata{
		width:100%;
	}
	
}
 @media (min-width:920px) { 
	body{
		margin:1px 0 16px 16px;
	}
	#content,#content-full{
		width:880px;
		margin:0 auto;
		float:none;
	} 
	.hidemobile{
		display:inline;
	}
	.content-bg{
		background:#fff;
		border:1px solid #ccc;
		padding: 10px;
		float:left;
		width:100%;
	}
	
	.page-title{
		width:870px;
		padding:10px 10px 10px 20px;	
	}
	.item-title {
		width:675px;
	}

	.searchbox{
		width:684px;
		padding: 12px 0 0 20px;
		height:auto;
	}
	
	#logobox{
		padding: 3px 0 20px 10px;
	}
	.formats{
		display:inherit;
	}
	.sortby{
		float:right;
		padding:0 10px 0 0;
	}
	.summary{
		width:550px
	}
	.main-menu{
		background:none;
	}
	.item-actions{
		float:right;
	}

	.billmeta ul li .meta{
		width:140px;
	}

	.billmeta ul li .metadata{
		width:700px;
	}
}
