body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 0.8em;
  line-height: 1.45em;
  color: #333;
  background-color: #fff;
  margin:16px;
  margin-top:1px;
}
#content{
  margin: 0;
  float: none;
}
pre{
  width: 530px;
  white-space: pre-wrap;
  font-size: 0.8em;
  line-height: 1.45em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
/* Hide Things */
.main-menu,
.item-actions,
.searchbox,
.footer-part-third,
.footer-part-second,
.footer-part-first,
.pagination,
.sortby,
.formats,
#comments {
  display: none;
}
a{
  text-decoration:none;
  color:#000;
}
.section,
.footer-part-fourth{
  border-top:1px solid #aaa;
  padding:10px 0 0 0;
}
.row{
  border-bottom:1px solid #aaa;
  padding:10px 0 10px 0;
}
.row a{
  border-bottom:1px solid #ccc;
}
.row span,
.row span a {
  text-decoration:none;
  color:#000;
  font-size:12px;
  border:none;
}
.billHeader{
  text-align:center;
  font-weight:bold;
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: circle;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}
ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.vote-block,
blockquote {
  margin: 0;
  padding: 0;
}
/* confusing naming, comments to the rescue */
/* a hr class, not needed in print view */
.page-break {
  display:none;
}
/* div to break up the distinct parts of the page */
.pagebreak{
  display: block;
  page-break-before: always;
}

