/* Import tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    a {
        @apply text-blue-500 border-blue-500 border-solid border-b-1 cursor-pointer;
    }
}

/* Custom css classes */
@layer components {

    .card {
        @apply p-4 bg-white shadow;
    }

    .h1 {
        @apply text-gray-700 text-4xl md:text-6xl lg:text-7xl;
    }

    .h2 {
        @apply text-gray-700 text-2xl lg:text-3xl;
    }

    .h3 {
        @apply text-gray-700 text-xl lg:text-2xl;
    }

    .h4 {
        @apply text-gray-700 text-lg lg:text-xl;
    }

    .h5 {
        @apply text-gray-700 text-sm lg:text-base font-medium;
    }

    .text {
        @apply text-sm lg:text-base text-gray-700;
    }

    .text--large {
        @apply text-base lg:text-lg font-medium;
    }

    .text--small {
        @apply text-xs lg:text-sm font-light;
    }

    .text--error {
        @apply text-red-600 font-semibold;
    }

    .tooltip {
        @apply bg-gray-500 rounded-lg
    }

    .tooltip__text {
        @apply text-xs lg:text-sm text-white
    }

    .btn {
        @apply py-1 px-2 text-white bg-blue-700 shadow-md text-base font-medium cursor-pointer
        text-center rounded border-none transform active:translate-y-0.5;
    }

    .btn--state-danger {
        @apply bg-red-500;
    }

    .input {
        @apply outline-none border-solid border-gray-300 border-b focus:border-b-2 focus:border-blue-400
        placeholder-gray-500 placeholder-opacity-60;
    }
}

/* Other styles */

.highlight > em {
    background-color: #fff6b4;
}

.loading-indicator {
    width: 100%;
    height: 0.375rem;
    overflow: hidden;
    background-color: #c4e7f8;
}

.loading-indicator > div {
    background-color: #1F77A1;
    width: 25%;
    height: 100%;
    margin-top: 0;
    margin-left: -25%;
    animation: bounce_loadingProgress 1.5s infinite ease-in-out both;
}

@keyframes bounce_loadingProgress {
    0% {
        margin-left: -25%;
    }
    50% {
        margin-left: 100%;
    }
}

@-webkit-keyframes bounce_loadingProgress {
    0% {
        margin-left: -25%;
    }
    50% {
        margin-left: 100%;
    }
}
