@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,400);
@import url(//fonts.googleapis.com/css?family=Inconsolata);
@import "colors";
@import "icons";

/** --- Reset --- */

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
}

body {
  height: 100%;
}

table {
  border-spacing: 0;

  thead {
    tr {
      th {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

pre {
  font-family: 'Inconsolata', monospace;
}

select {
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
}

input {
  background: white;
  border: 1px solid #ddd;
}

hr {
  border: 1px none #ddd;
  border-top-style: solid;
}

p {
  line-height: 1.7em;
}

/** --- Angular Material Overrides --- */
.md-toolbar-tools {
  height: 70px;
  max-height: 70px;
}

md-toolbar {
  min-height: 70px;

  .md-toolbar-tools {
    height: 70px;
    max-height: 70px;
  }

  &.auto-height {
    min-height: 0;
    height: auto;
    max-height: none;
  }

  &.md-info-tools {
    min-height: 0;
    width: auto;
    padding: 10px;
  }
}

.md-whiteframe-z0 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .10);
}

md-card {
  &.content-card {
    @extend .md-whiteframe-z0;
    background: white;

    &.gray4-bg {
      @extend .gray4-bg;
    }

    padding: 0;
    margin: 10px 0;

    &.no-margin {
      margin: 0;
    }

    .md-subheader {
      background: #fcfcfc;
      border-bottom: 1px solid #f1f1f1;
      color: #444;
    }

    md-content {
      margin: 0;
      padding: 20px;
    }
  }
}

md-input-container {
  &.md-default-theme {
    label {
      color: rgb(96, 125, 139);
    }
  }
}

// Couldn't get the colors right on the datepicker
.md-default-theme.md-hue-2 .md-datepicker-input, .md-hue-2 .md-datepicker-input {
  background: white;
  padding: 5px;
  margin-left: 0;
  color: #333;
}

.md-default-theme.md-hue-2 .md-datepicker-input-container, .md-hue-2 .md-datepicker-input-container {
  padding: 0;
  border: 1px solid #ddd;
}

md-datepicker {
  background: transparent;
}

.md-calendar-day-header, .md-calendar-selected-date.md-focus .md-calendar-date-selection-indicator {
  background: $blue3 !important;
  color: white !important;
}

md-dialog {
  z-index: 1500;
}

/** --- Transitions --- */

.fade {
  opacity: 1;
}

.fade.ng-enter, .fade.ng-leave {
  transition: all .25s ease;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active {
  opacity: 1;
}

.fade.fade-out.ng-leave {
  transition: all .5s ease;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave-active {
  opacity: 0;
}

/** --- Hacks --- */

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** --- Common Classes  --- */

.text-xsmall {
  font-size: 0.7rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-medium {
  font-size: 0.9rem;
}

.text-large {
  font-size: 1.1rem;
}

.text-xlarge {
  font-size: 1.5rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.bold {
  font-weight: 600 !important;
  min-width: 50px;
}

.thin-300 {
  font-weight: 300;
}

.columnWord {
  word-wrap: break-word;
  min-width: 50px;
}

.text-normal {
  font-weight: normal;
}

.tight-lines {
  line-height: 1.1em;
}

/** --- Margins --- */

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

/** --- Paddings --- */

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-16 {
  padding: 16px;
}

.padding-20 {
  padding: 20px;
}

.no-padding {
  padding: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.width-50 {
  width: 50%;
}

.relative {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}

.preformatted, pre {
  white-space: pre;
  font-family: 'Inconsolata', monospace;
  display: block;

  .line-numbers {
    float: left;
    margin: 0 1em 0 0;
    border-right: 1px solid;
    text-align: right;
    background: #fdd2a8;

    span {
      display: block;
      padding-right: 0.5em;
      padding-left: 0.5em;
    }
  }
}

.word-wrap {
  word-wrap: break-word;
}

a.gray-2-blue {
  color: $gray10;
  transition: all .2s linear;

  &:hover {
    color: $blue2;
  }
}

a.white-2-blue {
  color: white;
  transition: all .2s linear;

  &:hover {
    background: transparentize(#fff, 0.9);
  }
}

.vis-hidden {
  visibility: hidden;
}

.no-height {
  height: 0;
}

.light-background {
  background: #fafafa;
}

.no-background {
  background: transparent !important;
}

a.result-link {
  width: 100%;
  text-decoration: none;
  color: #555;

  &:hover {
    color: $blue5;
    background: #fbfbfb;
  }

  em {
    background: #fff6b4;
  }
}

a.inactive-link {
  text-decoration: inherit;
  color: inherit;
}

.inline-block {
  display: inline-block;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.serif-header {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
}

.member-image-mini {
  width: 55px;
}

/** --- Headers --- */

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.8em;
}

/** --- Main Layout --- */

#app-wrapper {
  background: #f5f5f5;
}

#content-header {
  z-index: 1000;
  font-size: 1.5rem;
  display: none;
  position: fixed;
  background: $blue3;

  h1 {
    //color: white;
  }

  @media (max-width: 768px) {
    font-size: 1.1rem;
  }

  &.header-visible {
    display: flex;
  }

  /* Content header should always be visible when there's no room for the left nav. */
  @media (max-width: 959px) {
    display: flex;
  }
}

.md-dialog-is-showing #content-header {
  z-index: 50;
}

#content-header-spacer {
  height: 70px;
  display: block;
  width: 100%;
}

#content {
  padding-top: 70px;
  min-height: 100vh; // Required for IE
  .content-section {
    max-width: 1100px;
    margin: auto;
  }
}

/** --- Left Nav --- */

$left-nav-width: 305px;

#left-nav {
  width: $left-nav-width;
  background: $gray4;
  min-height: 100vh;
  position: fixed;
  @media print {
    display: none;
  }

  &.md-locked-open + * {
    margin-left: $left-nav-width;
  }
}

#logo {
  padding-left: 10px;
  height: 70px;
  margin: 0;
  font-size: 1.4rem;
  background: $blue3;

  a {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin-left: 10px;
  }

  img {
    top: 14px;
    height: 45px;
    position: relative;
  }
}

.left-nav-menu {
  background: $gray4;
}

// Menu styles adapted from angular-material docs

.menu-item {
  border-width: 0;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  line-height: 48px;
  margin: 0;
  max-height: 48px;
  opacity: 1;
  outline: none;
  padding: 0 35px;
  position: relative;
  text-align: left;
  text-decoration: none;
}

.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}

.menu-item:focus {
  font-weight: bold;
}

.menu-item.menu-title {
  color: #444;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px;
  text-align: left;
  text-transform: uppercase;
}

.menu-item.menu-title:hover,
.menu-item.menu-title:focus,
.menu-item.active {
  font-weight: bold;
  background: $blue3;
  color: white;
}

.menu-item.menu-title.active {
  background: $blue4;
}

.menu-item:hover {
  &.active {
    background: $blue3;
  }

  &.menu-title.active {
    background: $blue4;
  }

  background: $gray3;
}

/** --- Top Bar Heading --- */

.top-bar-heading {
  color: #ffffff;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;

  .menu-icon {
    background: none;
    border: 1px solid #ddd;
    padding: 5px;
    margin-right: 25px;
    cursor: pointer;
    min-width: 35px;
    font-size: 1.4rem;
    @media print {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 1.0rem;
  }
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    font-size: 1.2rem;
  }
  @media only screen and (min-width: 1201px) {
    font-size: 1.4rem;
  }
}

/** --- Pagination --- */

ul.pagination {
  margin: 0;
  padding: 10px;
  border: 1px solid #f1f1f1;

  li {
    display: inline;
    list-style-type: none;
    margin-right: 8px;
    text-align: center;

    &.active {
      a {
        font-weight: 600;
        color: $blue2;
      }
    }

    &:hover {
      background: #eee;

      a {
        color: $blue3;
      }
    }

    a {
      font-size: 0.9em;
      text-decoration: none;
      color: #999;
      padding: 3px 7px;
      vertical-align: initial;
    }
  }
}


.listing-filter {
  padding: 16px 20px;
  background: #f1f1f1;
}

/** --- Docs Tables --- */

.docs-table {
  width: 100%;
  text-align: left;
  padding: 20px;
  font-size: 0.8rem;

  td {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }
}

/** --- Tooltips --- */

.cal-tooltip {
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: $blue1;
  text-align: center;
  border-radius: 0;
  opacity: 0.9;
  bottom: 30px;
  left: 50%;
  margin-left: -90px;
  z-index: 100 !important;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid $blue1;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    z-index: 100;
  }
}

.cal-tooltip.agenda-meeting {
  bottom: 55px;
  width: 300px;
  text-align: left;
  padding: 10px;
  font-size: 0.9rem;
}

/** --- Toggle Panel ---  */

.toggle-panel {
  .toggle-panel-bar {
    &:hover {
      background: #eee;
    }

    cursor: pointer;
    color: #555;
    border: 1px solid #ddd;

    .toggle-panel-label {
      font-size: 0.9rem;
      font-weight: bold;
      color: #555;
    }
  }

  &.open {
    > .toggle-panel-bar {
      background: #eee;
      //border-bottom: 1px solid white;
      .toggle-panel-label {
        color: $blue3;
      }
    }
  }
}

/** --- Full Calendar --- */

.fc-header-title {
  h2 {
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
    font-weight: normal;
  }
}

.fc-other-month {
  background: $gray3;
}

/** --- Search UI --- */

.search-refine-panel {
  h3 {
    background: white;
    font-size: 1rem;
    padding: 10px 10px 10px 15px;
    margin: 0;
  }

  .refine-controls {
    padding: 5px 10px 5px 15px;

    label, .md-label {
      padding: 5px;
      font-size: 0.9rem;
      display: block;

      &.lit {
        margin-top: 3px;
        background: #fff6b4;
      }
    }

    select, input {
      width: 100%;
      display: block;
      border: 1px solid #ddd;
      padding: 5px;
    }

    md-checkbox, md-switch {
      margin: 10px 2px 0 2px;

      &.lit {
        .md-label {
          margin-top: 3px;
          background: #fff6b4;
        }
      }
    }
  }
}

.listing-filter {
  padding: 16px 20px;
  background: #f5f5f5;
}

/** --- Subscription Page Styles --- */
.hero-container-subscriptions {
  margin-bottom: 0;
  height: 300px;
  background: #008cba;
  position: relative;
}

#subscription-page-pop-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-bottom: 10px;
}

.subscription-checkbox-list-updater {
  width: 100%;
  padding-left: 20%;
  padding-right: 17%;
}

.submit-button {
  align-self: center;

  .md-button {
    align-self: center;
    width: 250px;
    height: 40px;
  }

  p {
    margin: 10px;
  }
}

.unsubscribeInstructions {
  margin-bottom: 5px;
}


/** --- Landing Page Styles --- */

.public-home-page {
  background: #f1f1f1;
  min-height: 100vh;
  overflow: auto;

  h1 {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 200px;
    font-size: 4.5vw;
    text-align: center;
    text-shadow: 0 0 1px #235674;
  }
}

.hero-container-public {
  margin-bottom: 0;
  height: 300px;
  background: #008cba;
  position: relative;

  h1 {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 200px;
    font-size: 4.5vw;
    text-align: center;
    text-shadow: 0 0 1px #235674;

    img {
      height: 6.5vw;
      vertical-align: text-top;
      margin-right: 20px;
    }
  }
}

.login-button {
  padding: 5px 10px;
  background: #00b0ef;
  box-shadow: 0 2px 3px #005474;
  border-radius: 2px;

  p {
    margin: 5px;
    text-align: center;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.pop-out-container {
  position: relative;
  max-width: 960px;
  background: white;
  padding: 40px 20px;
  margin: -110px auto 0 auto;
  box-shadow: 0 1px 3px #bbb;

  .project-desc {
    color: #444;
    font-weight: 400;

    a {
      color: #008cba;
    }
  }
}

.regular-container {
  background: white;
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0 1px 3px #ccc;
}

.copyright-footer-container {
  max-width: 960px;
  margin: auto;
}

.project-desc {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;

  .md-button {
    font-family: 'Open Sans', sans-serif;
  }

  color: #444;
  font-weight: 300;
}

.project-desc-label {
  color: #444;
  text-align: center;
  font-family: 'Roboto Slab', 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 50px 0 10px 0;
}

.project-doc-link {
  color: #008cba;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.docs-iframe {
  height: 95vh;
  border: 0;
  overflow: visible
}

@media (max-width: 599px) {
  .hero-container-public, .hero-container-subscriptions {
    height: 150px;

    h1 {
      font-size: 28px;
      line-height: 150px;

      img {
        height: 40px;
      }

    }
  }
  .pop-out-container {
    max-width: 90%;
    margin: 10px auto 20px auto;
  }
}


.slogan-container {
  margin: 20px;
  padding: 20px;
  background: white;
}

a.slogan-link {
  color: $blue5;
  text-decoration: none;
  border-bottom: 2px solid $blue5;
}

.provide-data-container {
  padding: 5px;
  cursor: pointer;

  &:hover {
    .provide-data-type {
      color: $blue2;
    }
  }

  .provide-data-type {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
}

.provide-data-icon {
  text-align: center;
  height: 75px;
  width: 75px;

  i {
    font-size: 2rem;
    line-height: 75px;
  }
}

.signup-err {
  color: $red1;
  text-align: center;
  padding: 10px;
}

.checkbox-list {
  width: 100%;
  padding-left: 17%;
  padding-right: 17%;
}

.register-button {
  align-self: center;

  .md-button {
    width: 160px;
  }
}

/** --- Bill Page Styles --- */

.bill-ms-container {
  padding: 10px 0 5px 0;
  min-width: 256px;
}

.bill-ms-step {
  height: 10px;
  width: 10px;
  border: 1px solid $blue3;
  border-radius: 100%;
  float: left;
  cursor: pointer;

  &.filled {
    background: $blue3;

    &.vetoed {
      background: $red1;
      border: 1px solid $red1;
    }
  }
}

.bill-ms-line {
  width: 25px;
  height: 5px;
  float: left;
  border-bottom: 1px dashed $blue3;
}

.bill-full-text {
  max-width: 520px;
  white-space: pre;
  font-family: 'Inconsolata', monospace;
  @media only screen and (max-width: 480px) {
    font-size: 0.4rem;
  }
  @media only screen and (min-width: 481px) and (max-width: 600px) {
    font-size: 0.6rem;
  }
  @media only screen and (min-width: 601px) {
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 800px) {
    margin-left: 100px;
  }
}

.bill-sub-message {
  background: rgb(255, 252, 230);
}

.bill-memo-heading {
  font-weight: 400;
  display: block;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.54);
  white-space: pre-line;
}

.positive {
  background: #F1F8E9;
}

.negative {
  background: #FFEBEE;
}

.bill-votes-table {
  font-size: 0.9rem;
  width: 100%;
  padding: 20px;

  tr {
    th {
      text-align: left;
    }

    td {
      padding: 5px 10px 5px 5px;
    }
  }
}

.bill-updates-table {
  font-size: 0.8rem;
  width: 100%;
  padding: 20px 0;

  tr {
    th {
      text-align: left;
    }

    td {
      &:nth-child(1) {
        font-size: 0.9rem;
        border-right: 1px solid #ddd;
      }

      &:nth-child(2) {
        padding-left: 10px;
      }

      pre {
        max-height: 300px;
        font-size: 0.9rem;
        white-space: normal;
      }

      border-bottom: 1px solid #ddd;
      overflow: auto;
    }
  }
}

.bill-json-iframe {
  border: 0;
  width: 100%;
  height: 80vh;
}

.search-bill-status-desc {
  margin: 4px 0;
}

/** --- Law Page Styles --- */

.law-container {
  box-shadow: 0 1px 3px #ddd;
  margin: 10px 0;
}


.law-listing-filter {
  @extend .listing-filter;
}

.law-node {
  padding-left: 20px;
  cursor: pointer;
  border-left: 1px solid #ddd;

  .law-node-toggle-icon {
    visibility: hidden;
  }

  background: #fff;

  &:hover {
    color: $blue3;

    .law-node-toggle-icon {
      visibility: visible;
    }
  }

  &.active {
    color: $blue4;
    background: #f1f1f1;

    .law-node-toggle-icon {
      visibility: visible;
    }
  }
}

.law-node-ctrls {
  padding: 10px;
  background: white;
  border-left: 1px solid #ddd;
}

.law-text {
  &.no-margin {
    margin: 0;
  }

  padding: 40px;
  margin: 0;
  white-space: pre-line;
  font-size: 0.85rem;
  background: white;
  border-width: 1px;
  border-style: none solid solid solid;
  border-color: #ddd;
  width: 100%;
}

/** --- Agenda Page --- */

// Agenda calendar events
#agenda-date-picker {
  .fc-event-hori {
    margin-bottom: 5px;
    padding: 4px;
    background: #fafafa;
    border: 1px none #ddd;
    border-bottom-style: solid;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: $blue3;
    cursor: pointer;

    &:hover {
      backgrfound: white;
    }
  }

  .fc-event.fc-event-hori.no-agenda-month {
    background: white;
    color: $red1;
    border: 0;
  }
}

.agenda-search {
  div {
    padding: 16px;
  }

  label:not(:first-child) {
    margin-left: 10px;
  }

  select, input {
    margin-left: 10px;
  }
}

.agenda-vote-chip {
  border: 1px solid #bbb;
  color: #333;
  text-align: center;
  padding: 3px;
  margin: 3px;
  float: left;
  font-size: 0.8em;
}

/** --- Transcript Page Styles --- */

.transcript-result-link {
  cursor: pointer;
  margin-bottom: 16px;

  &:hover {
    background: #eee;
  }
}

.tx-result-highlight {
  margin: 0;
  padding: 0;
  line-height: 0.7em;
  font-size: 0.9em;
  background: #f5f5f5;
}

/** --- Styles for Open Mismatch Summary Page --- */

.open-mismatch-summary-item {
  border: 1px solid rgba(0, 0, 0, 0.12);

  &.not-first {
    border-top: none;
  }

  md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none
  }

  .md-button {
    margin: 0;
    padding: 6px 24px;
  }
}

/** --- Styles for Report Summary page --- */

.prefix-icon {
  margin-right: 5px;
}

.prefix-icon2 {
  margin-right: 10px;
}

.postfix-icon {
  margin-left: 5px;
}

.new-error {
  color: red;
}

.closed-error {
  color: green;
}

.existing-error {
  color: #aaa;
}

/** --- Styles for Spotcheck Mismatch Viewer --- */

.spotcheck-mismatch {
  border: 1px solid rgba(0, 0, 0, 0.12);

  &.not-first {
    border-top: none;
  }

  &.open {
    border: 2px solid rgba(22, 91, 129, 0.24);
  }

  .mismatch-snippet {
    white-space: nowrap;
    overflow: hidden;
  }
}

.spotcheck-mismatch-status {
  .NEW, .REGRESSION {
    color: red;
  }

  .EXISTING {
    color: #aaa;
  }

  .RESOLVED {
    color: green;
  }
}

/** --- Styles for Spotcheck diffs --- */

$mismatch-menu-color: #3e4f62;

md-dialog.detail-diff-dialog {
  width: 90vw;
  height: 90vh;
  max-height: 100vh;
  max-width: 100vw;

  & > md-content {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 20px;
  }
}

.mismatch-diff-view-exit {
  font-size: 25px;
  position: absolute;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.mismatch-diff-view-top-half {
  max-height: 25vh;
  margin-bottom: 2.5%;
}

.mismatch-diff-info-card {
  padding: 5px 10px;
  margin-left: 2.5%;
  border-radius: 10px;
  background-color: $mismatch-menu-color;
  color: #fafafa;

  p {
    margin: .25em;
  }
}

.mismatch-diff-text-controls {
  padding: 5px;
  margin-right: 2.5%;
  border: 1px solid $mismatch-menu-color;
  border-radius: 10px;

  select {
    margin-bottom: 10px;
  }
}

$diff-del-color: #d0021b;
$diff-ins-color: #59a007;

$diff-side-height: 55vh;
$diff-source-label-height: 70px;

.mismatch-diff-side {
  float: left;
  height: $diff-side-height;
  width: 45%;
  margin: 0 2.5%;

  a {
    color: lightblue;
  }
}

#mismatch-diff-observed ins, #mismatch-diff-reference del {
  display: none;
}

.mismatch-diff-container {
  overflow: auto;
  height: calc(#{$diff-side-height} - #{$diff-source-label-height});
}

.mismatch-diff-source-label {
  background-color: $mismatch-menu-color;
  text-align: center;
  vertical-align: middle;
  line-height: $diff-source-label-height;
}

.mismatch-diff-info-background-color-border {
  border: 1px solid $mismatch-menu-color;
  margin-right: 2.5%;
}

diff-summary, mismatch-diff {
  ins, del {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  ins {
    background-color: $diff-ins-color;
  }

  del {
    background-color: $diff-del-color;
  }
}

.white-text-color {
  color: white;
}

.margin-top-5 {
  margin-top: 5px;
}

/** --- Admin Account Settings --- */

.notsub-check-column {
  width: 4em;
}

.notsub-type-column {
  width: 15em;
}

.notsub-target-column {
  width: 11em;
}

.notsub-address-column {
  width: 15em;
}

.master-admin {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(bottom, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fefcea), color-stop(100%, #f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #fefcea 0%, #f1da36 100%); /* Chrome10+,Safari5.1+ */
}

.logout-circle {
  background: red;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.logout-rect {
  background: #008CBA;
  width: 20vw;
  height: 25px;
}

/** --- Environment Variable View --- */

md-list.env-list {
  md-list-item:nth-child(odd) {
    background: #eee;
  }
}

/** --- Calendar View --- */

.cal-entry-repeat-container {
  height: 80vh;
  width: 100%;
  border: none;
}

.repeated-item {
  height: 150px;
  border-bottom: 1px solid #ddd;
  padding-left: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cal-entry-sponsor-img {
  background: 50% 50% no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cal-entry-highlight {
  background: #fbfdb0
}

/** --- Calendar Picker Styling --- */

.fc-header {
  .fc-button {
    background: transparent;
    border: 0;
    color: $blue3;
  }
}

#calendar-date-picker {
  .fc-event.no-session-month {
    background: white;
    color: $red1;
    border: 0;
  }

  .fc-event.session-day {
    background: #f1f1f1;
    border: 0;
    color: $blue3;
    padding: 3px;

    &:hover {
      cursor: pointer;
      background: $blue3;
      color: white;
    }
  }
}

#calendar-date-picker div.fc-day-content > div {
  height: 25px !important;
}

.fc-state-default {
  background-image: none !important;
}

.cal-search-options {
  height: 125px;
}

/** --- Admin Log Page --- */

.run-unit-summary {
  font-size: 0.9em;

  label {
    font-weight: bold;
  }
}

@-webkit-keyframes new-request {
  0% {
    background-color: transparent;
    opacity: 1;
  }
  50% {
    background-color: #b1c48e;
  }
  100% {
    background-color: transparent;
  }
}

table.api-request-table {
  width: 100%;
  text-align: center;

  tr.new-request {
    -webkit-animation-name: new-request;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: new-request;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
  }

  th {
    font-size: 0.9rem;
    padding: 5px;
  }

  td {
    padding: 5px;
    font-size: 0.8rem;

    a {
      color: $blue3;
    }

    &.time-td {
      width: 165px;
    }

    &.url-td {
      max-width: 350px;
    }
  }

  tbody tr:nth-child(odd) {
    background: #f5f5f5;
  }
}

/**
Spotcheck report page detail
 */
.rounded-corner-button {
  border-radius: 10px;
}

#spotcheck-report-page-number select option {
  border-radius: 75px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

button.md-button.md-default-theme.md-primary, button.md-button.md-default-theme.md-primary.md-focused {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 186);
}

md-dialog.issuedialog {
  width: 40vw;
  height: 30vh;
  max-height: 50vh;
  max-width: 30vw;

  & > md-content {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0 20px 20px;
  }
}

.md-button.md-fab.md-mini {
  font-size: x-small;
  line-height: 25px;
  width: 50px;
  height: 25px;
}

.report-page-toast {
  color: red;
  font-size: 12px;
  text-align: center;
  float: right;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
  $alert-info-saved-transition-in: visibility 2s, opacity 2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: $alert-info-saved-transition-in;
  -moz-transition: $alert-info-saved-transition-in;
  -o-transition: $alert-info-saved-transition-in;
  transition: $alert-info-saved-transition-in;

  &.saved {
    opacity: 1;
    visibility: visible;
    $alert-info-saved-transition-out: opacity 0s;
    -webkit-transition: $alert-info-saved-transition-out;
    -moz-transition: $alert-info-saved-transition-out;
    -o-transition: $alert-info-saved-transition-out;
    transition: $alert-info-saved-transition-out;
  }
}

#spotcheck-report-page {
  overflow: scroll;
  padding: 20px;
}

.spotcheck-report-content-tabs {
  min-width: 960px;
}

.spotcheck-report-control-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.spotcheck-report-top-controls {
  select {
    margin-left: 20px;
  }

  h2:not(:first-child) {
    margin-left: 40px;
  }
}

.spotcheck-jump-button {
  margin-left: 20px;
}

.spotcheck-report-inner-controls {
  margin-top: 20px;

  > * {
    margin-left: 20px;
  }
}

.spotcheck-table-header {
  padding-bottom: 10px;
  padding-top: 10px;

  @extend .spotcheck-table-mismatch-row;
  margin-right: 25%;
  float: none !important;

  & > * {
    @extend .bold;
  }
}

.spotcheck-table-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  > * {
    margin-left: 10px;
    margin-right: 10px;
  }

  > md-input-container {
    margin-top: 35px;
  }
}

.spotcheck-table-mismatch-row {
  float: left;
  width: 75%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spotcheck-table-column {
  word-wrap: break-word;
  min-width: 50px;
}

.spotcheck-col-state {
  flex-basis: 10%;
}

.spotcheck-col-bill-id {
  flex-basis: 15%;
}

.spotcheck-col-type {
  flex-basis: 15%;
}

.spotcheck-col-date {
  flex-basis: 15%;
}

.spotcheck-col-issue {
  flex-basis: 10%;

  md-input-container {
    padding: 0;
    margin: 0 0 -25px;
  }
}

.spotcheck-col-source {
  flex-basis: 10%;
}

.spotcheck-col-cal-state {
  flex-basis: 5%;
}

.spotcheck-col-cal-no {
  flex-basis: 5%;
}

.spotcheck-col-cal-type {
  flex-basis: 10%;
}

.spotcheck-col-agenda-obs-date {
  flex-basis: 10%;
}

.spotcheck-col-agenda-week-of {
  flex-basis: 10%;
}

.spotcheck-col-agenda-comm {
  flex-basis: 15%;
}

.spotcheck-col-law-chapter {
  flex-basis: 8%;
}

.spotcheck-col-law-loc-id {
  flex-basis: 10%;
}

.spotcheck-table-buttons {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .md-button.ignore-button {
    background-color: #3E4F62;
  }
}

.spotcheck-table-goto {
  float: right;
  margin-top: -35px;
  margin-right: 300px;

  input {
    width: 30px;
    text-align: center
  }
}

/** --- Member Management Admin Page --- */

.member-content-section {
  max-width: 1100px;
  margin: 1em auto auto auto;
}

.member-header-section {
  max-width: 1100px;
  margin: 1em auto auto auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.member-header {
  margin: 0;
}

.member-toggle {
  text-decoration: underline;
  position: relative;
  bottom: 0;
  padding-bottom: 7px;
  cursor: pointer;
}

.member-total-results {
  display: inline;
  font-size: 16px;
  padding: 0 5px;
}

.member-table-row {
  display: flex;
  height: 50px;
  align-items: center;
}

.member-table-row:nth-child(even) {
  background-color: lightblue;
}

.member-table-row:nth-child(odd) {
  background-color: rgb(238, 238, 239);
}

.member-table-item {
  display: inline;
  margin: 0 1em;
  min-width: 200px;
}

.member-table-button {
  margin-left: auto;
  height: 40px;
}

.member-text-center {
  text-align: center;
}

.verify-content-section {
  max-width: 1200px;
  margin: 1em auto auto auto;
}

.verify-card-margin {
  margin: 10px 50px;
}

.verify-create-new {
  border: black solid 1px;
}

.verify-table-row {
  display: flex;
  height: 90px;
  align-items: center;
  width: 80%;
  margin: auto;
}

.verify-table-row:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.verify-table-row:nth-child(even) {
  background-color: lightblue;
}

.verify-table-row:nth-child(odd) {
  background-color: rgb(238, 238, 239);
}

.verify-icon {
  font-size: 65px;
  vertical-align: middle;
  margin: auto 15px auto 2px;
}

.verify-image-small {
  width: 53.6px;
  height: 80px;
  margin-left: 10px;
  border: solid black 1px;
}

.verify-image {
  border: solid black 1px;
  float: left;
}

.verify-search {
  width: 80%;
  display: block;
  margin: auto 10% 15px 10%;
}

.verify-button {
  background-color: rgb(0, 139, 186) !important;
  color: white !important;
}

.verify-disabled {
  background-color: lightgrey !important;
  cursor: not-allowed !important;
}

.verify-disabled-checkbox {
  display: flex;
  background-color: lightgrey !important;
  cursor: not-allowed !important;
  width: 20px !important;
}

.verify-basic-info {
  margin: 10px 0;
  padding-top: 30px;
}

.verify-required {
  font-size: 0.5em;
}

.member-info {
  margin-left: 110px;
  margin-right: 50px;
  float: left;
}

.member-even-columns {
  width: 50%;
  float: left;
}

.member-uneven-columns-1 {
  float: left;
  width: 33%;
}

.member-uneven-columns-2 {
  float: left;
  width: 67%;
}

.member-session-map-container {
  display: block;
  margin-left: 110px;
  margin-right: 130px
}

.member-session-map:nth-child(even) {
  background-color: lightblue;
}

.member-session-map:nth-child(odd) {
  background-color: rgb(238, 238, 239);
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.grey {
  color: grey;
}

.bold {
  font-weight: bold;
}

/*  Admin Batch Email Page */
.batch-email-content-section {
  background: ghostwhite;
  width: available;
  text-align: center;
  padding: 0;
  margin: 30px auto auto auto;
  max-width: 1100px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.batch-email-header {
  background: rgb(241, 241, 241);
  padding: 0 16px;
  h1 {
    margin: 0;
    line-height: 80px;
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
  }
}

.batch-email-main-box {
  height: available;
  background: white;
  margin: 0 0 40px 0;
  padding: 0 16px 0 0;

}

.batch-email-subscriptions {
  width: 100%;
  vertical-align: top;
  h4 {
    margin-top: 15px;
    text-align: right;
    width: 10%;
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    font-weight: lighter;
  }
  .checkbox-container{
    align-items: normal;
    width: 50%;
    md-list {
      width: 100%;
      padding-left: 20px;
      padding-top: 10px;

    }
  }
}

.batch-email-subs-checkbox-list-updater {
  width: 100%;
}

.batch-email-subject-line {
  width: 100%;
  h4 {
    margin-top: 0;
    margin-bottom: fill;
    text-align: right;
    width: 10%;
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    font-weight: lighter;
  }
  md-input-container {
    width: available;
    padding-top: 0;
    padding-left: 20px;
    margin: 0;
    line-height: normal;

  }
  label {
    height: 50%;
  }
}

.batch-email-message-body {
  width: 100%;
  height: 500px;
  margin-right: 8%;
  h4 {
    margin-top: 0;
    text-align: right;
    margin-right: 20px;
    width: 10%;
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    font-weight: lighter;
  }
}

#batch-email-subject-input {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 350px;
  height: 30px;
  resize: none;
  line-height: 30px;
}

#batch-email-body-text {
  margin: 0;
  height: 100%;
}

.batch-email-submit-box {
  .md-button.md-default-theme.md-raised, .md-button.md-raised{
    align-self: center;
    color: white;
    background: rgba(0,140,186,0.87);
    font-size: larger;
    font-weight: bold;
    width: 150px;
    height: 40px;
    margin: 20px 0;
  }
  .md-button.md-raised:hover {
    background-color: rgba(0,140,186,0.4);
  }
}

.batch-email-validation-message {
  color: red;
  font-weight: bold;
  text-align: center;
  line-height: 27px;
  p, pre {
    margin: 0;
  }
}


#batch-email-send-error {
  color: red;
}

#batch-email-preview-div {
  z-index: 1;
  background: rgb(245, 245, 245);
  position: absolute;
  width: 600px;
  align-self: center;
  height: 415px;
  padding: 0;
  margin: 20px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
  h2 {
    font-style: normal;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin: 8px 0;
  }
  .md-button.md-default-theme.md-raised, .md-button.md-raised {
    margin: 20px;
    align-self: center;
    color: white;
    background: rgba(0,100,180,0.87);
    font-size: larger;
    font-weight: bold;
    width: 200px;
  }
  .md-button.md-raised:hover {
    background-color: rgba(0,140,186,0.4);
  }
}

#batch-email-preview {
  background: #fcfcfc;
  width: 500px;
  height: 300px;
  padding: 0;
  margin: 0 50px;
  align-self: center;
  scroll-behavior: smooth;
  overflow: auto;
  text {
    height: fit-content;
    margin: 10px;
    scroll-behavior: smooth;
    overflow: auto;
  }
}

#batch-email-dialog {
  justify-content: space-evenly;
  align-items: center;
  md-dialog-actions {
    justify-content: space-evenly;
  }
  h3,p {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
  }
  #no-button {
    background: grey;
  }
  #yes-button {
    background: #0e90d2;
  }
}

.batch-email-error-header {
  font-weight: bold !important;
  color: red !important;
}

.batch-email-tabs-div {
  border: 1px solid lightgrey;
  width: 80%;
  height: 100%;
  margin-right: 10%;
  md-tabs > md-tabs-content-wrapper > md-tab-content > div {
    height: 100%;
  }
  md-tabs {
    height: 100%;
  }
  textarea {
    width: 100%;
    height: 100%;
  }
}

md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas >
md-pagination-wrapper > md-tab-item:not([disabled]), md-tabs.md-primary >
md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
  color: rgba(0,0,0,.87);
}

.email-input-container {
  flex: -1 1 120px;
  height: 100%;
  width: 80%;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 0px;
  text-wrap: normal;
  md-input-container {
    height: 50px;
    width: 300px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    flex: 0 -1 50px;
  }

  .md-button.md-default-theme.md-raised, .md-button.md-raised {
    height:35px;
    margin-top: 10px;
    flex: 1 0 50px;
    width: 25%;
    min-width: 150px;
  }

  p {
    width: 100%;
    flex: -1 1 50px;
  }
}

.update-subscription-form, .update-email-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0;
  overflow: visible;
}


.valid-email-error-message {
  color: red;
  margin: 10px;
}

.update-email-already-used-error {
  margin-top: 0 !important;
}

.batch-email-formatting-div {
  width: 10%;
}

.batch-email-signature-div {
  display: flex;
  justify-content: left;
  flex-direction: row;
  md-checkbox {
    margin-left: 20px;
  }
}

.batch-email-switch {
  width:available;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  p {
    margin: 0 0 0 5px;
  }
  md-switch {
    margin: 0 0 0 20px;
  }
}

.batch-email-test-mode {
  margin: 0 5px;
  h2 {
    margin: 0;
  }
}