/** --- Color Palette --- */

$blue1: #204056; .blue1 { color: $blue1; } .blue1-bg { background: $blue1; }
$blue2: #006b80; .blue2 { color: $blue2; } .blue2-bg { background: $blue2; }
$blue3: #008cba; .blue3 { color: $blue3; } .blue3-bg { background: $blue3; }
$blue4: #2B6A90; .blue4 { color: $blue4; } .blue4-bg { background: $blue4; }
$blue5: #165b81; .blue5 { color: $blue5; } .blue5-bg { background: $blue5; }

$blue-gray1: rgb(96,125,139); .blue-gray1 { color: $blue-gray1; } .blue-gray1-bg { background: $blue-gray1; }

$green1: #348853; .green1 { color: $green1 ;} .green1-bg { background: $green1; }
$green2: #43ac6a; .green2 { color: $green2 ;} .green2-bg { background: $green2; }
$green3: #7DB34B; .green3 { color: $green3 ;} .green3-bg { background: $green3; }

$red1: #b5002a; .red1 { color: $red1; } .red1-bg { background: $red1; }

$white: #ffffff; .white { color: $white; } .white-bg { background: $white !important; }
$gray1: #fafafa; .gray1 { color: $gray1; } .gray1-bg { background: $gray1 !important; }
$gray2: #f5f5f5; .gray2 { color: $gray2; } .gray2-bg { background: $gray2 !important; }
$gray3: #f1f1f1; .gray3 { color: $gray3; } .gray3-bg { background: $gray3 !important; }
$gray4: #eee; .gray4 { color: $gray4; } .gray4-bg { background: $gray4; }
$gray5: #ddd; .gray5 { color: $gray5; } .gray5-bg { background: $gray5; }
$gray6: #ccc; .gray6 { color: $gray6; } .gray6-bg { background: $gray6; }
$gray7: #aaa; .gray7 { color: $gray7; } .gray7-bg { background: $gray7; }
$gray10: #666;    .gray10 { color: $gray10; } .gray10-bg { background: $gray10; }