body {
  font-family: helvetica, arial;
  font-size: 89.5%;	 /* 10px */
  line-height: 1.4em; /* 15px */
  color: #333;
  background-color: #fff;
  background-repeat: repeat-x;
  margin:16px;
  margin-top:1px;
}


#content{
margin: 0;
float: none;
}

pre{
	width: 530px;
	white-space: pre-wrap;
	font-size:11px;
	line-height: 15px;
}

 /* Hide Things */
.main-menu,.item-actions,.searchbox,.footer-part-third,.footer-part-second,.footer-part-first,.pagination,.sortby,.formats,#comments{
	display:none;
}
a{
	text-decoration:none;
	color:#000;
}
.section,.footer-part-fourth{
	border-top:1px solid #aaa;
	padding:10px 0 0 0;
}
.row{
	border-bottom:1px solid #aaa;
	padding:10px 0 10px 0;
}
.row a{
	border-bottom:1px solid #ccc;
}
.row span,.row span a {
	text-decoration:none;
	color:#000;
	font-size:12px;
	border:none;
}
.billHeader{
    text-align:center;
    font-weight:bold;
    /* border-bottom:1px solid #ccc; */
    margin: 0px;
    padding: 0px;
}
.page-break {
	display:none;
}